body, html {
    font-family: "Roboto", sans-serif;
    background: rgb(85, 85, 85);
    height: 100%;
  }

  .background {
    background: rgb(247, 243, 238);
    height: 90%;
    width: 90%;
    margin: auto;
    border-radius: 5px;
  }

  :root {
    text-size-adjust: 100%;
  }

  .active {
    color: rgb(192, 141, 141);
  }

  .navbar {
    background-color: rgb(85, 85, 85);
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 150px;
    margin: auto;
  }

  .navbar a {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: rgb(14, 14, 14);
    transition: background-color 0.3s ease-in-out;
    width: 20px;
  
    &:hover {
      background-color: #ddd;
    }

    &.active {
      background-color: rgb(190, 190, 190);
    }
  }

  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
  }


  .home.active {
    color: rgb(231, 148, 169);
  }

  .navbar a {
    text-decoration: none;
  }

  .content {
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }

  .content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  .content ul a {
    text-decoration: none;
  }

  .postcontent {
    justify-content: center;
    text-align: center;
    padding: 30px;
    background-color: rgb(36, 36, 36);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    color: rgb(185, 185, 185);
  }

  .postcontent .image {
    margin-top: 30px;
    max-width: 100%;
    height: 40%;
    width: 40%;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .postlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .littlepost {
    background-color: rgb(36, 36, 36);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 350px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    border: 2px solid rgb(44, 44, 44);
    padding: 30px;
    box-sizing: border-box;
    overflow: hidden;

  .image {
    top: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 90%;
    height: 175px;
    border-radius: 5px;
    object-fit: cover;
  }

  .texts {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(201, 201, 201);
  }
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
}

.delete,
.edit,
.save {
  display: inline-block;
  width: 20px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #ddd;
  }
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin: auto;
  padding-bottom: 30px;

  .custom-input {
    height: 25px;
    width: 300px;
    padding: 5px;
    margin-top: 5px;
  }

  .custom-textarea {
    margin-top: 5px;
    width: 300px;
    height: 150px;
    resize: none; 
    padding: 5px;
  }
}